<div class="container">
  <h2>
    <div class="pull-left">Lessons</div>
    <div class="pull-right">
      <%= link_to 'New lesson', new_admin_lesson_path %>
    </div>

  </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%= lesson.name %></td>

          <td>
            <%= lesson.course.name %>
          </td>

          <td>
            <%= link_to "View", '#' %>
            <%= link_to "Edit", "#" %>
            <%= link_to "Delete", "#" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
